body {
  font-family:"Comic Sans MS", cursive, sans-serif;
  padding-left: 20px;
  font-size: 0.9em;
}
header {
  padding-top: 10px;
  padding-bottom: 10px;
}
figure {
  padding-left: 70px;
}
figcaption {
  color: #ff00ff;
  padding-left: 50px;
  padding-top: 10px;
}
